.toolbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  background-color: #bbdefb;
  height: 100%;
  padding: 15px;
  gap: 5px;

  @media (max-width: 768px) {
    // Tablet view
    padding: 10px;
    // justify-content: space-around;
  }

  @media (max-width: 480px) {
    // Mobile view
    padding: 5px;
    justify-content: space-around;
  }
}

.toolbar-container > div {
  background: #ffecb3;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}
