<header class="toolbar">
  <div class="toolbar__logo">
    <a routerLink="/home">
      <img src="https://via.placeholder.com/50" alt="logo" />
    </a>
  </div>
  <div class="toolbar__spacer"></div>
  <nav class="toolbar__nav">
    <ul class="toolbar__nav-links">
      <li class="toolbar__nav-item">
        <a
          class="toolbar__nav-link toolbar__nav-link--login"
          routerLink="/login"
          routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="toolbar__nav-item">
        <a
          class="toolbar__nav-link toolbar__nav-link--register"
          routerLink="/register"
          routerLinkActive="active"
          >Sign Up</a
        >
      </li>
    </ul>
  </nav>
</header>
