<section class="chat-interface">
  <!-- <header class="chat-header">
    <h2 class="gradient-text">Chat Interface</h2>
  </header> -->
  <!-- <main class="chat-window">
  </main> -->
  <footer class="chat-footer">
    <form class="chat-input-form" role="form">
      <div class="input-container">
        <input type="text" aria-label="Message input" />
        <i class="fas fa-microphone" aria-hidden="true"></i>
      </div>
      <!-- <button type="submit" aria-label="Send message">Send</button> -->
    </form>
  </footer>
</section>
