@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$background-color: #18181b;
$text-color: #e0e0e0;
$heading-color-purple: #9147ff;
$heading-color-green: #00ff00;
$subtext-color: #adadb8;
$input-background-color: #2f2f33;
$chat-window-background-color: #1f1f23;
$border-color: #2f2f33;
$button-hover-color: #772ce8;
$font-family: "Roboto", sans-serif;

//gradients
$gradient-purple: linear-gradient(90deg, #9147ff 0%, #772ce8 100%);
$gradient-green: linear-gradient(90deg, #00ff00 0%, #00cc00 100%);
$gradient-blue: linear-gradient(90deg, #1cb0f6 0%, #1a8cd8 100%);
$gradient-pink: linear-gradient(90deg, #ff77ff 0%, #ff33cc 100%);
$gradient-orange: linear-gradient(90deg, #ff9900 0%, #ff6600 100%);
$gradient-red: linear-gradient(90deg, #ff4d4d 0%, #ff0000 100%);
$gradient-yellow: linear-gradient(90deg, #ffff00 0%, #ffcc00 100%);

.gradient-text {
  background: linear-gradient(90deg, #ff9900, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-interface {
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: $heading-color-green;
    font-family: $font-family;
  }

  .chat-window {
    border: 1px solid $border-color;
    padding: 20px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    background-color: $chat-window-background-color;
    color: $text-color;
    font-family: $font-family;
    border-radius: 4px;
  }

  .chat-input {
    display: flex;

    input[type="text"] {
      flex: 1;
      padding: 10px;
      font-size: 1em;
      border: 1px solid $border-color;
      border-radius: 4px 0 0 4px;
      background-color: $input-background-color;
      color: $text-color;
      font-family: $font-family;
    }

    button {
      padding: 10px 20px;
      font-size: 1em;
      border: 1px solid $border-color;
      border-left: none;
      border-radius: 0 4px 4px 0;
      background-color: $heading-color-purple;
      color: white;
      cursor: pointer;
      font-family: $font-family;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }
}
