.sidenav {
  height: 100%;
  width: 50px; /* Default width when closed */
  position: fixed;
  z-index: 1;
  top: 85px; /* Adjust this value to match the height of the toolbar */
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 20px; /* Adjust padding to avoid overlap with toolbar */
}

.sidemenu-container {
  margin-top: 60px;
  visibility: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .togglebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  background: none;
  border: none;
  cursor: pointer;
}

.sidenav.open {
  width: 250px;
}

.sidenav.closed {
  width: 80px;
}
