<div
  class="sidenav"
  [class.open]="isSidenavOpen"
  [class.closed]="!isSidenavOpen"
>
  <button title="togglebtn" class="togglebtn" (click)="toggleNav()">
    <i [class]="isSidenavOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
  </button>
  <div
    class="sidemenu-container"
    [style.visibility]="isSidenavOpen ? 'visible' : 'hidden'"
  >
    <a href="#">Responses</a>
    <a href="#">Profile</a>
    <a href="#">Messages</a>
    <a href="#">Notifications</a>
    <a href="#">Logout</a>
  </div>
</div>
