@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font-family: "Roboto", sans-serif;

.sidenav {
  height: 100%;
  width: 50px; /* Default width when closed */
  position: fixed;
  z-index: 1;
  top: 85px; /* Adjust this value to match the height of the toolbar */
  left: 0;
  background-color: #1e1e20; /* Dark themed background color */
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 20px; /* Adjust padding to avoid overlap with toolbar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidemenu-container {
  margin-top: 60px;
  visibility: hidden;
}

.sidenav a {
  text-align: left;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: $font-family;
  font-size: 16px;
  color: #d4d4d7;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .togglebtn {
  position: absolute;
  top: 10px; /* Adjusted for better alignment */
  right: 24px; /* Adjusted for better alignment */
  font-size: 24px; /* Adjust font size for Font Awesome icons */
  color: #818181; /* Default color */
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.sidenav .togglebtn:hover {
  color: #f1f1f1; /* Color on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.sidenav.open .togglebtn {
  color: #4c4c4f; /* Color when sidenav is open */
}

.sidenav.closed .togglebtn {
  color: #4c4c4f; /* Color when sidenav is closed */
}

.sidenav.open {
  width: 320px;
}

.sidenav.closed {
  width: 72px;
}
