@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$background-color: #18181b;
$text-color: #e0e0e0;
$heading-color-green: #00ff00;
$subtext-color: #adadb8;
$font-family: "Roboto", sans-serif;

.container {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  margin: 0 auto;
  padding: 20px;
  max-width: 768px;
}

.main-header {
  text-align: center;
  margin-bottom: 40px;

  .gradient-text {
    background: linear-gradient(90deg, #9146ff, #b9a3e3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: $font-family;
  }

  .description {
    font-size: 16px;
    color: $subtext-color;
    font-family: $font-family;
  }
}

.ai-app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-chat-window {
  flex: 1;
  overflow-y: auto;
}

app-input-area {
  flex-shrink: 0;
}
